<#@ template language="C#" visibility="internal" #>
<#@ output extension=".xcworkspacedata" #>
<?xml version="1.0" encoding="UTF-8"?>
<Workspace
<#= "\t"#>version = "1.0">
<#= "\t"#><FileRef
<#= "\t"#>location = "self:<#= projectPath #>">
<#= "\t"#></FileRef>
</Workspace>