<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositorypath" value="../../packages" />
	</config>
  <packageSources>
    <clear />
    <add key="Xamarin.MacCore" value="https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/Xamarin.MacCore/nuget/v3/index.json" />
  </packageSources>
</configuration>