<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositorypath" value="packages" />
	</config>
	<packageSources>
		<clear />
		<!-- if running into error: Unable to load the service index for source, follow steps here to establish azure creds locally:
		https://github.com/microsoft/artifacts-credprovider?tab=readme-ov-file#installation-on-linux-and-mac -->
		<add key="Xamarin.MacCore" value="https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/Xamarin.MacCore/nuget/v3/index.json" />
	</packageSources>
	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
</configuration>
